# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.sqlite3
*.log
*.pyc

# Django
db.sqlite3

# Env
.env

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# Virtual environments
venv/
virt/


# IDEs & OS
.idea/
.vscode/
.DS_Store

# Logging
/var/log/
/*.log
honeypot.log